<small>{{ meta.index + 1 }}.</small>
<blockquote>

  {{ quote.text }}

  <footer>
    <cite><a href="{{ quote.source }}">{{ quote.author }}</a></cite>
  </footer>
</blockquote>


<button class="btn btn-active" (click)="reset.emit()">Reset</button>
<button class="btn btn-active" (click)="loadNext.emit()">Load Next</button>

<span class="glyphicon" [ngClass]="{
  'glyphicon-refresh spinning': quote.isLoading
}">
</span>

<hr>
<pre style="text-align: left">
  DEBUG
{{ meta | json }}
{{ quote | json }}
</pre>
